<li>
    {{burger_name}}

    <button class="devour" data-id="{{id}}" data-status="{{devoured}}">
        {{#if devoured}}Devour!{{else}}Remake{{/if}}
    </button>

    {{!-- <button class="delete-cat" data-id="{{this.id}}">DELETE!</button> --}}
</li>